.car-two {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin-top: 1em;
  position: relative;
}
#documental {
  color: #fff;
  font-size: 20px;
  display: flex;
  margin-top: 19px;
}
.img-two {
  width: 200px;
  height: 278px;
  flex: 1;
  max-width: 100%;
  object-fit: cover;
}
.list-btn-two {
  position: absolute;
  width: 100%;
  padding: 2px 0px 7px 0px;
  left: 0;
  bottom: 0;
  font-size: 14px;
  text-transform: capitalize;
  background: none;
  border: none;
  font-weight: 500;
  text-align: center;
  color: rgb(249, 240, 240);
  cursor: pointer;
}
.list-btn-two:hover {
  color: #fff;
  background: rgba(13, 142, 240, 0.43);
}

@media (max-width: 450px) {
  #documental {
    font-size: 5vw;
    margin-top: 30em;
  }
}
@media (max-width: 767px) {
  #documental {
    font-size: 16px;
    top: 50px;
  }

  .img-two {
    width: 100%;
  }
}

/* Estilos para pantallas medianas*/
@media (max-width: 1199px) {
  .img-two {
    width: 50%;
    height: 355px;
  }
}

/* Estilos para pantallas grandes  */
@media (min-width: 1200px) {
  .img-two {
    width: 33.33%;
  }
}
