.container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10vw;
  justify-content: center;
 padding: 5px 1rem;
 background-color: blue;
}

.card {
  top: 10px;
  position: relative;
  width: calc(20% - 20px);
  min-width: calc(100vw / 5 - 20px);
  height: 80%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  background-image: linear-gradient(rgb(58, 60, 74), rgb(36, 38, 50));
  box-shadow: rgba(0, 0, 0, 0.69) 0px 26px 30px -10px,
    rgba(0, 0, 0, 0.73) 0px 16px 10px -10px;
  border-radius: 10px;
  border: 4px solid #3e404c;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.card:hover {
  transform: scale(1.05);
  border: 4px solid white;
}

.vid {
  height: 49%;
  width: auto;
  display: block;
  margin: auto;
}

.card:hover .disney,
.card:hover .pixar,
.card:hover .marvel,
.card:hover .star,
.card:hover .natgeo {
  background-size: cover;
  border: 4px solid white;
  transform: scale(1.05);
}
.disney:hover {
  background: url("https://i.gifer.com/origin/33/33efb3883cfaa3fa5b71d9b8aa26f864_w200.webp");
  background-size: cover;
}
.pixar:hover {
  background: url("https://i.gifer.com/3kw2.gif");
  background-size: cover;
}
.marvel:hover {
  background: url("https://i.gifer.com/origin/09/09d0c3bb686821cba562ddbec2356d2a_w200.webp");
  background-size: cover;

}

.star:hover {
  background: url("https://i.gifer.com/origin/7e/7e9a85e0a6fe84c4a0b3161c326d1d52_w200.webp");
  background-size: cover;
}
.natgeo:hover {
  background: url("https://i.gifer.com/origin/1a/1a61ca642024389984cdb0526d3b621b_w200.webp");
  background-size: cover;
}

/* Estilos responsivos */
@media (max-width: 668px) {
  .card {
    width: calc(33.33% - 20px);
    min-width: calc(100vw / 3 - 20px);
  }

  .vid {
    height: 40%;
  }
}

/* Pantallas pequeñas */
@media (max-width: 480px) {
  .card {
    width: calc(100% - 40px);
    min-width: calc(100vw - 40px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    padding: 66px;
  }

  .vid {
    height: auto;
    max-height: 700vh;
    width: 100%;
  }

  .container {
    margin-top: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

/* Pantallas muy pequeñas */
@media (max-width: 300px) {
  .card {
    width: calc(100% - 20px);
    min-width: calc(100vw - 20px);
    height: 74px;
    margin-bottom: 10px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }

  .vid {
    height: auto;
    max-height: 200px;
    width: 100%;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
