 svg {
    width: 60%;
    height: 60%;
    visibility: hidden;
    cursor: pointer;
       overflow: visible;
       height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
   }
   
   #plus {
       opacity: 0
   }
   
   #logoType {
       opacity: 0
   }
   #jo{
    background-color: red;
    width: 100%;
    height: 100vh;
    position: fixed;
   }
   